body {
  background-color: #f7f7f7;
}

h1 {
  color: #679b9b;
}

.Yuni{
color: #eb6383;

}

h3 {
  color: #679b9b;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
